[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M
# 最大接続数を拡張
max_connections = 512

# クエリキャッシュの設定を有効化
## SELECT SQL_NO_CACHEがなければキャッシュするように。
query_cache_type = 1
query_cache_limit = 2M
query_cache_size = 32M

innodb_flush_method = O_DIRECT
# InnoDBログの出力方法を変更する
## Disk I/Oを減らすことが目的。0と2の違いはトランザクションコミット時にログが出力されるかどうか。
innodb_flush_log_at_trx_commit = 2

# バッファプールサイズの拡張
innodb_buffer_pool_size = 512M

# スロークエリ設定
slow_query_log      = 1
slow_query_log_file = /var/log/mariadb/mysqld-slow.log
long_query_time     = 0.1
log-queries-not-using-indexes = 1

[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

# BEGIN ANSIBLE MANAGED BLOCK mariadb
[mysqld]
sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
# END ANSIBLE MANAGED BLOCK mariadb
